! XTerm
XTerm*termName:		xterm-256color
XTerm*scrollBar:	false
XTerm*background:	black
XTerm*foreground:	white
XTerm*cursorColor:	grey50
XTerm*locale:		UTF-8
XTerm*utf8:			2
!XTerm*faceName:		DejaVu Mono:style=Regular:size=10
!xterm*faceName: Liberation Mono:size=8:antialias=false
!xterm*font: 7x13

! Urxvt
URxvt*termName:		rxvt-unicode-256color
URxvt*scrollBar:	false
URxvt*background:	black
URxvt*foreground:	white
URxvt*cursorColor:	green
URxvt*imLocale:		ja_JP.EUC-JP

! ATerm
ATerm*termName:		aterm
Aterm*scrollBar:	false
Aterm*background:	black
Aterm*foreground:	white
Aterm*cursorColor:	blue
Aterm*transparent:	true
Aterm*shading:		20
Aterm*fading:		50
Aterm*font:			fixed
